:root {
  /* Colors */
  --zackhub: #21abde;
  
  /* Theme Colors */
  --primary: #21abde;
  --primary-superlight: #f9fdff;
  --primary-light: #00bbff;
  --primary-dark: #197ca0;
  --secondary: mediumseagreen;
  --secondary-superlight: #eefff5;
  --secondary-light: #49e790;
  --secondary-dark: seagreen;
  --danger: red;
  --danger-dark: darkred;
  --success: mediumseagreen;
  --success-light: #49e790;
  --success-dark: seagreen;
  --success-superlight: #eefff5;
  --dark: #1b1b1b;

  /* Fonts */
  --base-font: Arial;
  --display-font: var(--base-font);
  --heading-font: var(--base-font);

  /* Font Sizes */
  --base-font-size: 16px;
  --display: 80px;
  --h1: 60px;
  --h2: 36px;
  --h3: 32px;
  --h4: 28px;
  --h5: 24px;
  --h6: 22px;
  --lead: 20px;
  --small: 14px;
  --mini: 12px;

  /* Font Weights */
  --thin: 100;
  --light: 300;
  --regular: 400;
  --bold: 600;

  /* Globals */
  --navbar-height: 80px;
}